<div class="container">
  <div>
      <div class="container">
        <h1>Medicine</h1>

        <div class="row">
            <div class="col-lg-6">

                <form role="form">
                    <fieldset class="form-group">
                        <label>Name </label>
                        <input class="form-control" placeholder="Enter the name of the medicine">
                    </fieldset>

                  
                    <div class="form-group">
                        <label>Dose</label>
                        <select class="form-control">
                            <option>50mg</option>
                            <option>100mg</option>
                            <option>200mg</option>
                            <option>250mg</option>
                            <option>500mg</option>
                            <option>1000mg</option>
                        </select>
                    </div>

                    <fieldset class="form-group">
                        <label>Special Notes</label>
                        <input class="form-control">
                    </fieldset>

                    <div class>  
                        <button type="submit" class="btn btn-secondary"> Submit Button </button>
                        <button type="reset" class="btn btn-secondary"> Reset Button </button>
                    </div>

                    <div class> 
                      
                    </div>


                </form>

            </div>
        </div>
    </div>
  </div>
</div>