<div class= "row">
  <div class="col-xs-12">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
            <form #MedicineForm="ngForm" (ngSubmit)="onSubmit(MedicineForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="medicineService.selectedMedicine._id">
              <div class="row">
                <div class="input-field col-sm-12 ">
                  <div class="row">
                    <label>Name:                  
                    </label>
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="medicineService.selectedMedicine.name" required>
                  </div>

                  <div class="row">
                      <label>Type:</label>
                      <select class="dropdown" name="type" #name="ngModel" [(ngModel)]="medicineService.selectedMedicine.type">
                          <option>Tablet</option>
                          <option>Capsule</option>
                          <option>Drop</option>
                          <option>Ointment</option>
                          <option>Inhaler</option>
                          <option>Liquid</option>
                      </select>
                  </div>

                  <div class="row">
                  <label>Notes:  
                    </label>
                  <input type="text" name="notes" #name="ngModel" [(ngModel)]="medicineService.selectedMedicine.notes" placeholder="Any special notes?">
                </div>

                </div>
              </div>

              <div class="row">
                <div class="input-field col-xs-6 ">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(MedicineForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit">Submit</button>

                </div>
              </div>
            </form>
          </div>

          
          <div class="col s7">
 
         </div>

        </div>
    </div>
  </div>
</div>


