<div class= "row">
  <div class="col-xs-12">
    <div class="container">
        <div class="row"><h1>Medicine</h1>
           

          
          <div class="col-sm-12">
            <table class="responsible-table highlight">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Dose</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Notes</th>                 
                </tr>
              </thead>
              <tr *ngFor="let med of medicineService.medi">
                  <td>{{med.name}}</td>
                  <td>{{med.type}}</td>
                  <td>{{med.dose+med.unit}}</td>
                  <td>{{med.price}}</td>
                  <td>{{med.qty}}</td>
                  <td>{{med.notes}}</td>
                  <td>

                    <a class="action-btn"  [routerLink]=" ['/updateMed/' + med._id] ">
                      <i class="material-icons">edit</i>
                    </a>

                  </td>

                  <td>
                    <a class="action-btn" (click)="onDelete(med._id,MedicineForm)">
                        <i class="material-icons">delete</i>
                      </a>
                  </td>
              </tr>
            </table>
         </div>

        </div>
    </div>
  </div>
</div>


