<!--
<div class= "row">
  <div class="col-xs-12">
    <div class="container">
        <div class="row"><h2>Medicine</h2>
           
          <button [routerLink]=" ['/addMed'] ">Add Medicine</button>
          
          <div class="col-sm-12">
            <table class="responsible-table highlight">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Dose</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Notes</th>   
                  <th> </th> 
                  <th> </th>             
                </tr>
              </thead>
              <tr *ngFor="let med of medicineService.medi">
                  <td>{{med.name}}</td>
                  <td>{{med.type}}</td>
                  <td>{{med.dose+med.unit}}</td>
                  <td>{{med.price}}</td>
                  <td>{{med.qty}}</td>
                  <td>{{med.notes}}</td>
                  <td>

                    <a class="action-btn"  [routerLink]=" ['/updateMed/' + med._id] ">
                      <i class="material-icons">edit</i>
                    </a>

                  </td>

                  <td>
                    <a class="action-btn" (click)="onDelete(med._id,MedicineForm)">
                        <i class="material-icons">delete</i>
                      </a>
                  </td>
              </tr>
            </table>
         </div>

        </div>
    </div>
  </div>
</div>
-->


<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card" >
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Medicine</h3>
        </mat-card-title>
        <mat-card-content>
          <div class="search-div">
              
              <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
          </div>
          <div class="example-container mat-elevation-z8">       
  
              
          <table mat-table [dataSource]="dataSource">
               
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  
                  <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef> Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                  </ng-container>

                  
                  <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef> Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                  </ng-container>              
                 
                  <ng-container matColumnDef="qty">
                      <th mat-header-cell *matHeaderCellDef> Quantity </th>
                      <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                    </ng-container>
  
                
                  <ng-container matColumnDef="dose">
                      <th mat-header-cell *matHeaderCellDef> Dosage</th>
                      <td mat-cell *matCellDef="let element"> {{element.dose + element.unit}} </td>
                  </ng-container>
  
  
                  
                  <ng-container matColumnDef="notes">
                      <th mat-header-cell *matHeaderCellDef> Notes</th>
                      <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
                    </ng-container>
  
                 
                 
  
                  <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <!-- <mat-header-cell *matHeaderCellDef>actions</mat-header-cell> -->
                      <mat-cell *matCellDef="let element">
                      </mat-cell>
                    </ng-container>  
                
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
             
                    
           </table>
         </div>
      </mat-card-content>
    </mat-card>
  </div>
    
  