<div class= "row">
  <div class="col-xs-12">
    <div class="container">
      <div class="row"><h1>Issue Medicine</h1>
        <body ng-app="mainAPP">
          <input type="text" [(ngModel)]="serach">


          <div ng-controller="Medicine">
            <ul>

              <li *ngFor="let med of medicineService.medi | filter:serach">
                {{med.name + ' '  + med.dose + med.unit +' ' + med.qty}}  
                <a class="action-btn" (click)="onAdd(med)">
                    <i class="material-icons">add</i>
                  </a> 
                  
              </li>
            </ul>
          </div>

          <label name="medList">{{medicineService.selectedMedicine.name}}</label>
          <input type="text" name="quantity" #name="ngModel" [(ngModel)]="medicineService.selectedMedicine.qty" required>
          <button type="submit" (click)="onSubmit(med, medicineService.selectedMedicine._id)">Issue</button>



        </body>

      
      </div>
    
    </div>
  </div>
</div>


