.example-container1 {
    display: flex;
    flex-direction: column;
  }
  
  .example-container1 > * {
    width: 50%;
    padding: 2cm
  }


  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

 
  .example-sidenav {
    padding: 20px;
  }

  .email-container {
    display: flex;
    flex-direction: column;
  }
  
  .email-container > * {
    width: 100%;
  }
  .btn{
    padding: 0.2cm
  }
  body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
  .logo{
    position: absolute;
    height: 45px;
    width: 45px;
  }
  .logoBack{
    background: white;
  }


/*//for docter image*/

.docterImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.docterImage:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.panel1{
    
    padding: 5px;
    padding-top: 5px;
    border-radius: 4px;
}

.panel2{
    padding: 5px;
    font-size: 15px;
    color: rebeccapurple;
    font-weight: 500;
}

.panel3{
    padding-bottom: 2px;
}

/*//for docter image end*/