<!--
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
---- Include the above in your HEAD tag --------
-->

<div class="container">
	<div class="row well"> <div class="col-sm-12">
		
                <div id="myCarousel" class="vertical-slider carousel vertical slide col-md-12" data-ride="carousel">
<!--
            <div class="row">
                <div class="col-md-4">
                    <span data-slide="next" class="btn-vertical-slider glyphicon glyphicon-circle-arrow-up "
                        style="font-size: 30px"></span>  
                </div>
                <div class="col-md-8"> 
                </div>
            </div>
-->
            <br />
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                       
                        <div class="col-sm-6">
                            We are familyer with HTML,js and CSS with mostly
                        </div>
                         <div class="col-sm-6">
                            <a href="#"> <img src="../../../assets/virticalslider/all.png" class="thumbnail"
                                alt="Image" style="heigth:250px"/></a>
                        </div>
                    </div>
                    <!--/row-fluid-->
                </div>                
                <!--/item--end-->
                
                <div class="item ">
                    <div class="row">
                        
                        <div class="col-sm-6">
                            We are have claver back end developers in node js
                        </div>
                        <div class="col-sm-6">
                            <a href="#"> <img src="../../../assets/virticalslider/node.jpeg" class="thumbnail"
                                alt="Image" style="heigth:250px"/></a>
                        </div>
                    </div>
                    <!--/row-fluid-->
                </div>                
                <!--/item--end-->
                
                <div class="item ">
                    <div class="row">
                      
                        <div class="col-sm-6">
                            We can use some frame work for your site,most probobly
                        </div>
                        <div class="col-sm-6">
                            <a href="#"> <img src="../../../assets/virticalslider/laravel-development.png" class="thumbnail"
                                alt="Image" style="heigth:250px"/></a>
                        </div>
                    </div>
                    <!--/row-fluid-->
                </div>
                <!--/item--end-->
                
                 <div class="item ">
                    <div class="row">
                      
                        <div class="col-sm-6">
                            Another frame work we can use...
                        </div>
                        <div class="col-sm-6">
                            <a href="#"> <img src="../../../assets/virticalslider/Pros-and-Cons-of-CodeIgniter-Framework.jpg" class="thumbnail"
                                alt="Image" style="heigth:250px"/></a>
                        </div>
                    </div>
                    <!--/row-fluid-->
                </div>
                <!--/item--end-->
                
            </div>
<!--
            <div class="row">
                <div class="col-md-4">
                    <span data-slide="prev" class="btn-vertical-slider glyphicon glyphicon-circle-arrow-down"
                        style="color: Black; font-size: 30px"></span>
                </div>
                <div class="col-md-8">
                </div>
            </div>
-->
        </div>
</div>
	</div>
</div>