<div class="container">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Doctor Name</th>
            <th>Checkup type</th>
            <th>Price</th>
            <th>Schedule</th>
            <th>Appointment</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let  doctor of Doctors">
          <td><h5>{{ doctor.fullname }}</h5></td>
          <td> {{ doctor.checkuptype }} </td>
          <td> {{ doctor.price}} </td>
          <td> {{ doctor.doctorshedule }} </td>
          <td> <button type="button"  (click)="openDialogBooking()" class="btn btn-success">Book</button></td>
           <!-- <div class="row"><button mat-raised-button color="primary" (click)="openDialogBooking()" style="margin:10px">Book</button></div> -->
        </tr>
      </tbody>
    </table>
  </div>

      