  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify"> e-Channelling PLC is the pioneer software development and ICT service provider to the Healthcare industry in Sri Lanka. It is the first company in Sri Lanka to offer a complete e-commerce based service and the first public quoted Technology Company in the Colombo Stock Exchange. e-Channelling has consistently been part of the 100 top brands in Sri Lanka.

e-Channelling PLC was established in 2001 by Millennium IT (group company of the London Stock Exchange), another pioneer ICT company in Sri Lanka, known worldwide for advanced investment trading systems. In 2001, when the World Wide Web was gaining momentum, e-Channelling envisioned an enabling service to eliminate the hassle and the inconvenience faced by the general public to obtain an appointment to meet a Specialist or Consultant at the time and place convenient to them. At the time when e-Channelling was launched, other nations in the region and even UK and USA, did not have service to tie up Doctors, Patients and Hospitals, leveraging the power of the Internet and ecommerce.

e-Channelling PLC is now a subsidiary of Mobitel (Private) Limited, Sri Lanka`s National Mobile Service Provider and a fully-owned subsidiary of Sri Lanka Telecom PLC. </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">Lipid Profile</a></li>
              <li><a href="#">U.F.R</a></li>
              <li><a href="#">E.C.G</a></li>
              <li><a href="#">T.S.H</a></li>
              <li><a href="#">S.G.P.T</a></li>
              <li><a href="#">Creatinine</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>