  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">

            <h6>MediCare</h6>
            <p class="text-justify"> MediCare is a service for Moratuwa Medical Centre to conect Doctors, Patients and Pharmacists.
              Which also designed to eliminate the hassle and the inconvenience faced by the patient to obtain available doctor details and other necessary details. </p>

          </div>

          <div class="col-xs-6 col-md-3">
            <h6>About</h6>
            <a href="./about-us/">About Us</a><br>
            <a href="./contact-us/">Contact Us</a>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Opening Hours</h6>
            <p class="text-justify">
                Mon:	7:15 am – 8:00 pm<br>
                Tue:	7:15 am – 8:00 pm<br>
                Wed:	7:15 am – 8:00 pm<br>
                Thu:	7:15 am – 8:00 pm<br>
                Fri:	7:15 am – 8:00 pm<br>
                Sat:	7:15 am – 8:00 pm<br>
                Sun:	7:15 am – 8:00 pm<br>
                </p> 
                
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">

            <p class="copyright-text">Copyright &copy; 2018 All Rights Reserved by 
         <a href="#">MediCare</a>.
            </p>

          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">

          </div>
        </div>
      </div>
</footer>