  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">

            <h6>About Us</h6>
            <p class="text-justify"> MediCare is a service to conect Doctors, Patients and Pharmacists in Sri Lanka.
              Which also include e-Channelling an enabling service to eliminate the hassle and the inconvenience 
              faced by the general public to obtain an appointment to meet a Specialist or Consultant at the time 
              and place convenient to them. </p>

              <h6>Contact Us</h6>
            <p class="text-justify">Address: <br>No 48/1, <br>Nawala, <br>Rajagiriya,<br>Sri Jayawardenepura Kotte 11222 </p>
            <p class="text-justify">Telephone: <br>0112852345 </p>

          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Our Vission Staement</h6>
            <p class="text-justify"> "To be the foremost and preferred Private Healthcare Facility in the Country, 
              which will serve the Nation and her People to build a healthier community." </p>
              <br>
              <h6>Our Mission Staement</h6>
            <p class="text-justify"> 
                "To maintain exceptional and compassionate quality while offering 
                cost effective healthcare solutions of international standards." </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Our Promise</h6>
            <p class="text-justify"> 
                "We believe that every person has the right to be treated with utmost respect and consideration.
                 Therefore at MediCare we care about our patients and their families who are anxious and concerned.
                 We care about our colleagues and how we as a team provide the best care to our patients.
                 Because we care, we will be sincere, compassionate and sensitive to make a difference in the lives we touch!" </p> 
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">

            <p class="copyright-text">Copyright &copy; 2018 All Rights Reserved by 
         <a href="#">MediCare</a>.
            </p>

          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>