h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:rgb(16, 6, 75);
  text-align: center; 
  /* text-decoration: underline */
}

table{
  font-family: Calibri; 
  color:rgb(15, 15, 15); 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:center; 
  background-color: rgb(252, 250, 250); 
  /* border-collapse: collapse;  */
  border: 2px solid navy
}
table.inner{
  border: 0px
}