
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
</style>
<body>
   <br><br>
    <div class="row">
      <div class="column">
        <img src="../../../assets/doc.jpg"style="width:100%;">
      </div>
      <div class="column" >
          <h2>About us</h2>
          <p class="text-justify"><font size="4">MediCare is a service for Moratuwa Medical Centre to conect Doctors, Patients and Pharmacists.
              Which also designed to eliminate the hassle and the inconvenience faced by the patient to obtain available doctor details and other necessary details.</font></p>
            
              <section style="background-color:#EBF5FB  ;">
                  <h3>Our Mission Statement</h3>
                  <p class="text-justify"><font size="3">"To maintain exceptional and compassionate quality while offering 
                      cost effective healthcare solutions of international standards."</font></p>
                </section>
          
                <section style="background-color:#EBF5FB  ;">
                    <h3>Our Vision Statement</h3>
                    <p class="text-justify"><font size="3">"To be the foremost and preferred Private Healthcare Facility in the Country, 
                        which will serve the Nation and her People to build a healthier community."</font></p>
                  </section>
          
                  <section style="background-color:#EBF5FB  ;">
                      <h3>Our Promise</h3>
                      <p class="text-justify"><font size="3">"We believe that every person has the right to be treated with utmost respect and consideration.
                           Therefore at MediCare we care about our patients and their families who are anxious and concerned.
                           We care about our colleagues and how we as a team provide the best care to our patients.
                           Because we care, we will be sincere, compassionate and sensitive to make a difference in the lives we touch!"</font></p>
                    </section>
                  </div>
                </div>
                <br><br>

                  


