
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    * {
        box-sizing: border-box;
    }
</style>

<body>
        <br><br>
        

    <div class="row">
        <div class="column">
            <img src="../../../assets/doc.jpg" style="width:100%;">
        </div>
        <div class="column">
            <h2>Contact us</h2>

            <br><br>
            <section style="background-color:#EBF5FB  ;">
                <h3>Address:</h3>
                <p class="text-justify"><font size="3">
                435<br>
                Galle Road,<br>
                Rawathawatta,<br>
                Moratuwa<br>
                10400<br>
                Sri Lanka<br>
              </font></p>
              </section>
              
              <section style="background-color:#EBF5FB  ;">
                  <h3>Telephone:</h3>
                  <p class="text-justify"><font size="3">
                    0112 655 884<br>
                    0112 655 885<br>
                  </font></p>
                </section>
              
