<div class= "row">
    <div class="col-md-12">
      <div class="container">
        <div class="row"><h1>Issue Medicine</h1>
  
          <div class="col-md-5">
              <ul>               
                <h2>Bill</h2>
                  <li *ngFor="let med of issuedMedicine">
                    {{ med.name + ' '  + med.dose + med.unit + ' Rs:' + med.price + ' Qty: ' +med.qty}}  
                  </li>
                  <h5>{{'Total Price: '+total()}}</h5>
                </ul>
          </div>
      
        </div>
   
      </div>
    </div>
  
  </div>
  
  
  